#swiperNav {
    position: relative;
    transform: rotate(-90deg);
    margin: 0 5px;

    .swiper-button-next,
    .swiper-button-prev {
        transform: rotate(180deg);
        color: #8f8f8f;

        &::after {
            font-size: 18px;
        }
    }
    
    .swiper-button-next {
        position: relative;

    }
}